/* Navbar / Menus */
.navbar {
  background-color: #efcfe5;
  font-family: 'Poppins', sans-serif;
  padding: 15px 0;
}

.nav-link {
  position: relative;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link:hover {
  color: #b96fb0; /* 👈 Change to your theme color */
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #b96fb0; /* 👈 Underline color */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show
 {
    color: #b96fb0;
    text-decoration: underline solid 2px #b96fb0;
    text-underline-offset: 12px;
}